@model TheKitchen.Model.Models.Pantry

@{
    ViewBag.Title = "Pantry";
    ViewBag.Message = "A place to store all your food";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>Blah blah blah</p>